.side-bar-header {
    border-right: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
    height: 46px;
    line-height: 37px;
    width: 100%;
    background: linear-gradient(#fcfcfc,#eaeaea);
    display: flex;
}

.add-expression {

    &::before {
        content: "\f067"
    }
}
